body {
  font-family: "Noto Sans", sans-serif;
  font-weight: 500;
}
.navbar {
  background-color: transparent !important;
}

/* .navbar-brand{
  color: aliceblue !important;
} */
.logo {
  height: 40px;
  opacity: 0.6;
}

.nav-link {
  color: aliceblue !important;
  text-shadow: 1px 0 0 #000, 0 -1px 0 #000, 0 1px 0 #000, -1px 0 0 #000;
}

.fas {
  color: aliceblue;
  text-shadow: 1px 0 0 #000, 0 -1px 0 #000, 0 1px 0 #000, -1px 0 0 #000;
}

.navbar-light .navbar-toggler {
  border: none;
}

#hero {
  background-image: url(../Images/hero-bg2.jpg);
  background-size: cover;
  background-position: center;
  height: 100vh;
  min-height: 650px;
}
/* hello world */
#hello {
  top: 0px;
  width: 100%;
  position: absolute;
  display: flex;
  align-items: center;
  /* justify-content: center; */
  height: 100vh;
}

.box h1 {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2px;
  color: #e3e6e9;
  font-size: 6vw;
  font-family: "Orbitron", sans-serif;
}

@keyframes cursor-blink {
  0% {
    opacity: 0;
  }
}

.box h1::after {
  content: "";
  width: 5px;
  height: 5vw;
  background: rgb(10, 235, 48);
  display: inline-block;
  animation: cursor-blink 1.5s steps(2) infinite;
}

/* hero */
.arrow-top i {
  position: fixed;
  bottom: 5%;
  right: 7%;
  color: #f7daa2;
  font-size: 25px;
  z-index: 0;
}

@media (min-width: 768px) {
  .arrow-top i {
    font-size: 37px;
    right: 5%;
  }
}

/* about */
#portfolio {
  background: linear-gradient(hsl(218, 33%, 22%), #0a1a16 90%);
  color: aliceblue;
  letter-spacing: 1px;
}

h6 {
  font-size: x-large;
  color: #f8d89f;
}

@media (min-width: 768px) and (max-width: 1200px) {
  .title-text {
    font-size: 95px !important;
  }
}

@media (max-width: 768px) {
  #portfolio .title-text,
  #about .title-text,
  #certificates .title-text {
    font-size: 45px;
  }
}

.title-text {
  font-weight: 700;
  font-size: 130px;
  letter-spacing: 8px;
  color: #fae8c8;
}

.about-img {
  width: 19rem;
}

.about-text a {
  text-decoration: none;
}
.tools {
  display: flex;
  flex-wrap: wrap;
  align-items: end;
}

.tools > figure > img {
  width: 64px;
  /* height: 64px; */
  margin: 10px;
}

.tools > figure > img:hover {
  transform: scale(1.1);
}

figcaption {
  font-size: 14px;
  font-weight: bold;
  color: #ffffff;
  text-align: center;
}

.social-links-about i {
  font-size: 40px;
  letter-spacing: 20px;
}

/* certificates */
.additional-certificate {
  display: none;
}

/* footer  */
footer {
  color: #e3e6e9;
  background-color: #0a1a16;
}

.logo-footer {
  height: 100px;
}

footer a {
  color: hsl(0, 0%, 100%);
  text-decoration: none;
  font-style: bold;
}

/* project images animations */

.project-img {
  transition: transform 0.2s ease-in-out;
}

.project-img:hover {
  transform: scale(1.02);
}

/* certificate images border */

.cert-img {
  border: none;
  transition: all 0.2s ease-in-out; /* Add a smooth transition */
}

.cert-img:hover {
  border: 1px solid #001aff; /* Change border style on hover */
}

/* load more projects animation */

.additional-project {
  display: none;
}

.show-btn {
  display: block;
  margin: 2rem auto;
  padding: 0.6em 2em;
  border: none;
  outline: none;
  color: rgb(255, 255, 255);
  background: #111;
  cursor: pointer;
  position: relative;
  z-index: 0;
  border-radius: 10px;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.show-btn:before {
  content: "";
  background: linear-gradient(
    45deg,
    #ff0000,
    #ff7300,
    #fffb00,
    #48ff00,
    #00ffd5,
    #002bff,
    #7a00ff,
    #ff00c8,
    #ff0000
  );
  position: absolute;
  top: -2px;
  left: -2px;
  background-size: 400%;
  z-index: -1;
  filter: blur(5px);
  -webkit-filter: blur(5px);
  width: calc(100% + 4px);
  height: calc(100% + 4px);
  animation: glowing-show-btn 20s linear infinite;
  transition: opacity 0.3s ease-in-out;
  border-radius: 10px;
}

@keyframes glowing-show-btn {
  0% {
    background-position: 0 0;
  }
  50% {
    background-position: 400% 0;
  }
  100% {
    background-position: 0 0;
  }
}

.show-btn:after {
  z-index: -1;
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  background: #222;
  left: 0;
  top: 0;
  border-radius: 10px;
}

#show-less-btn,
#show-less-cert-btn {
  display: none;
}
